body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
}

header{
    background-color: rgb(32, 32, 34);
    color: white;
    text-align: center;
    padding: 1rem;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.search-container{
    display: flex;
    margin-bottom: 1rem;
}

input[type="text"]{
    flex: 1;
    padding: 0.5rem;
}

button{
    background-color: blue;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor:pointer;
}

button:hover{
    background-color: blue;
}

footer{
    background-color:rgb(32, 32, 34);
    color: white; 
    text-align:center;
    padding: 0.5rem 0;
    position:absolute;
    bottom:0;
    width: 100%;  
}

.anime-card div img{
    border-radius: 8px;
}

.anime-card{
    background-color: antiquewhite;
    color: white;
    padding: 10px;
    margin: 10px;
    border: 8px;
}

.texto-sinopse{
    margin-top: 30px;
    padding: 10px;
    color: black;
    font-size: 19px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.conteudo.anime{
    display: flex;
}

#sendMessageBtn{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 86px;
    height: 89px;
    border-radius: 50%;
    z-index: 300;

}

#sendMessageBtn:hover{
    cursor: pointer;
    border: 2px solid black;                                                                                                                                                                
}